.container {
    margin: 5px auto;
}

.your_frame {
    width: 100%;
    height: 400px;
    overflow: hidden;
    cursor: pointer;
}

.your_frame img {
    object-fit: cover;
    width: 100%;
    height: auto;
    transform: translateY(0);
    transition: 2s ease-out;
}

.your_frame:hover img {
    object-fit: cover;
    transform: translateY(calc(-100% + 400px));
    transition: 2s ease-out;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    text-decoration: none;
    background-color: green;
    color: white;
}





.top-section {
    /* Top section is visible by default */
    opacity: 1;
    transition: opacity 1s;
}

.bottom-section {
    /* Bottom section is hidden by default */
    opacity: 0;
    transform: translateY(20px);
    /* Move the bottom section down by 20px initially */
    transition: opacity 1s, transform 1s;
    /* Add transition for transform property */
}

.description-container:hover .top-section {
    /* Hide top section on hover */
    opacity: 0;
}

.description-container:hover .bottom-section {
    /* Show bottom section on hover */
    opacity: 1;
    transform: translateY(0);
    /* Move the bottom section up to its original position */
}